body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#root .makeStyles-grow-1 {
  flex-grow: 0;
}

.header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.main-content {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root .PrivateValueLabel-circle-18 {
  width: 50px;
  height: 50px;
  ;
}

#root .MuiSlider-root {
  width: 80%;
  display: block;
  margin: 0 auto;
}

#root .MuiSlider-valueLabel {
  left: calc(-50% - 13px);
}

#root [class^=PrivateValueLabel-offset-] {
  top: -50px;
}


#root [class^=PrivateValueLabel-circle-] {
  width: 50px;
  height: 50px;
}

.title {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 40px 0;
  background: #3f51b5;
  background: -webkit-linear-gradient(to bottom, #3f51b5 0.1%, #fafafa 90%, #fafafa 99%);
  background: linear-gradient(to bottom, #3f51b5 0.1%, #fafafa 90%, #fafafa 99%);
}

.title.mini {
  font-size: 30px;
  text-align: center;
  margin: 0;
  padding: 40px 0;
  background: #3f51b5;
  background: -webkit-linear-gradient(to bottom, #3f51b5 0.1%, #fafafa 90%, #fafafa 99%);
  background: linear-gradient(to bottom, #3f51b5 0.1%, #fafafa 90%, #fafafa 99%);
}

// Slider

.keen-slider__slide {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    .slider__image {
      transform: scale(1.2)
    }
  }

  &:active {
    .slider__image {
      transform: scale(1)
    }
  }
}

.slider {
  border-radius: 10px;

  &__item {
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px 0 20px;
  }

  &__image {
    width: 400px;
    height: 400px;
    object-fit: contain;
    transition: transform .5s;
    margin-bottom: 20px;
  }

  &__item-name {
    font-size: 30px;
    text-align: center;
    max-width: 70%;
    position: relative;
  }
}

.number-slide0 {
  background: rgb(64, 175, 255);
  background: linear-gradient(128deg,
      rgba(64, 175, 255, 1) 0%,
      rgba(63, 97, 255, 1) 100%);
}

.number-slide1 {
  background: rgb(255, 75, 64);
  background: linear-gradient(128deg,
      rgba(255, 154, 63, 1) 0%,
      rgba(255, 75, 64, 1) 100%);
}

.number-slide2 {
  background: rgb(182, 255, 64);
  background: linear-gradient(128deg,
      rgba(182, 255, 64, 1) 0%,
      rgba(63, 255, 71, 1) 100%);
  background: linear-gradient(128deg,
      rgba(189, 255, 83, 1) 0%,
      rgba(43, 250, 82, 1) 100%);
}

.number-slide3 {
  background: rgb(64, 255, 242);
  background: linear-gradient(128deg,
      rgba(64, 255, 242, 1) 0%,
      rgba(63, 188, 255, 1) 100%);
}

.number-slide4 {
  background: rgb(255, 64, 156);
  background: linear-gradient(128deg,
      rgba(255, 64, 156, 1) 0%,
      rgba(255, 63, 63, 1) 100%);
}

.number-slide5 {
  background: rgb(64, 76, 255);
  background: linear-gradient(128deg,
      rgba(64, 76, 255, 1) 0%,
      rgba(174, 63, 255, 1) 100%);
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

// Profile

#root .profile {

  &__personal-alert {
    margin-top: 20px;
  }

  &__personal-form {
    margin-top: 20px;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  &__input {
    width: 250px;
    margin: 15px 0;
  }

  &__button {
    display: block;
    margin-top: 10px;
    width: fit-content;
  }

  &__image-title {
    font-size: 20px;
    display: block;
    margin-top: 15px;
  }

  &__image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin-top: 15px;
  }

  &__image-preview {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
  }

  &__submit {
    margin: 0 auto;
    display: block;
    width: fit-content;
    padding: 13px 50px;
    margin-top: 20px;
  }

  &__file-upload {
    position: absolute;
    width: 0;
  }
}

.map {
  height: 400px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.23);
}

.pickup-point {
  width: 100%;
  margin-bottom: 30px;
}